/* Custom styles for Inventory POS index page */

body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #343a40;
    color: #fff;
  }
  
  .container {
    margin-top: 50px;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container p {
    margin-bottom: 10px;
  }
  
  footer p {
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .container {
      margin-top: 30px;
    }
  }